@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

/* Scroller */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: dimgray;
  border-radius: 50px;
}


